In [1]:
import pandas as pd

In [2]:
df_movies = pd.read_csv('../data/movies.csv')#, nrows=100)
len(df_movies.rotten_tomatoes_link.unique())

17255

In [3]:
df_reviews = pd.read_csv('../data/reviews.csv')
df_reviews
len(df_reviews.Target.unique())

17670

In [4]:
df_reviews

,Source,Target,review_score_scaled,top_critic,review_type
0,Ben McEachen,m/0814255,7,0,1
1,Nick Schager,m/0814255,2,0,0
2,Bill Goodykoontz,m/0814255,7,1,1
3,Jordan Hoffman,m/0814255,7,0,1
4,Jim Schembri,m/0814255,6,1,1
...,...,...,...,...,...
714307,Chuck O'Leary,m/zulu_dawn,4,0,0
714308,Ken Hanke,m/zulu_dawn,7,0,1
714309,Dennis Schwartz,m/zulu_dawn,8,0,1
714310,Christopher Lloyd,m/zulu_dawn,7,0,0
714311,Brent McKnight,m/zulu_dawn,6,0,0

In [7]:
valid_links = df_movies['rotten_tomatoes_link'].unique()
result_df_reviews = df_reviews[df_reviews['Target'].isin(valid_links)]

result_df_reviews.to_csv('../data/reviews_clean.csv', index=False)
result_df_reviews

,Source,Target,review_score_scaled,top_critic,review_type
0,Ben McEachen,m/0814255,7,0,1
1,Nick Schager,m/0814255,2,0,0
2,Bill Goodykoontz,m/0814255,7,1,1
3,Jordan Hoffman,m/0814255,7,0,1
4,Jim Schembri,m/0814255,6,1,1
...,...,...,...,...,...
714307,Chuck O'Leary,m/zulu_dawn,4,0,0
714308,Ken Hanke,m/zulu_dawn,7,0,1
714309,Dennis Schwartz,m/zulu_dawn,8,0,1
714310,Christopher Lloyd,m/zulu_dawn,7,0,0
714311,Brent McKnight,m/zulu_dawn,6,0,0